.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url('../assets/Train.jpg') no-repeat center center fixed;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/Train.jpg');
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/Train.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1; /* Ensure the background image is behind the overlay */
}

.card {
    position: relative;
    width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 10px;
    margin-top: 49px;
    margin-bottom: 63px;  
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.card-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
}

.card h1 {
    margin-bottom: 25px;
    // font-size: 24px;
    color: #C5C3C6;
}

form {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    // margin-right: 10px;
    width: 100px; /* Adjust the width as needed */
    flex-shrink: 0;
    text-align: start;
}

.form-group input,
.form-group select {
    flex-grow: 1;
    width: auto;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check input {
    margin-right: 10px;
}

.btn{
    // background-color: #9A8873;
    // color: #3A2618 ;
    transition: transform 0.3s ease;
    margin-top: 5px;
    margin-left: 100px;
}

.btn:hover{
    transform: scale(1.2);
}